{% extends "blockchain_base.html" %}
{% block title %}Reset password{% endblock title %}
{% block body %}

    <h1 class='text-center'><a href="/" title='Return to homepage' style='text-decoration: none'>Blockchain</a></h1>
        <hr>

    <div class="container login-form text-center">

    {% if form.errors %}
        <p class="text-danger">{{ form.errors }}</p>
    {% endif %}

    <h2>Reset password</h2>

    <p class='text-left'>Enter your registered email address to reset your password</p>

        <form method="post" action="">
            {% csrf_token %}
            <p>{{ form.email }}</p>
            <button class="btn btn-primary btn-sm float-right" type="submit" value="Reset Password">Reset Password</button>
        </form>
{% endblock body %}
