{% extends "blockchain_base.html" %}
{% block title %}Change password{% endblock title %}
{% load static %}

{% block body %}

<h1 class='text-center'><a href="/" title='Return to homepage' style='text-decoration: none'>Blockchain</a></h1>
    <hr>

<div class="container login-form text-center">
    {% if form.errors %}
        <p class="text-danger">{{ form.errors }}</p>
    {% endif %}

    <h2>Change password</h2>
    <p>(See password change rules below)</p>
    <hr>

    <form method="post" action="">
        {% csrf_token %}

        <p>{{ form.old_password }}</p>
        <p>{{ form.new_password1 }}</p>
        <p>{{ form.new_password2 }}</p>

        <ul class='password-reset-conditions text-left'>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
       <button class="btn btn-primary btn-sm float-right" type="submit" value="Reset Password">Reset Password</button>
    </form>
</div>
<br>
{% endblock body %}
