{% extends "voidcoin_base.html" %}
{% block title %}Manage your account{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<h1>Manage your account</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Users</a></li>
        <li class="breadcrumb-item active">Manage your account</li>
    </ol>
</nav>

<h2>About</h2>
<div class="container song-about">
    <div class="row">
        <div class="col-sm-6">
            <p class="text-secondary">Screen name: {{ siteuser.screen_name }}</p>
            <p class="text-secondary">Email: <a href="mailto:{{ siteuser.user.email }}">{{ siteuser.user.email }}</a></p>
            <p class="text-secondary">Member since: {{ siteuser.created }}</p>
            <p class="text-secondary">Last seen: {{ siteuser.user.last_login }}</p>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>

<hr>

<h2>Wallets</h2>

<div class="container">
    <div class="row text-center text-lg-left">
        {% for each in siteuser.wallet_set.all %}
            <a class="btn btn-sm btn-primary icon-buttons" href="" title="View keys" data-toggle="modal" data-target="#keyViewModal{{ each.pk }}">
                {{ each.alias }}
            </a>
            {% include 'siteuser/account_management_wallet_modal.html' %}
        {% endfor %}
    </div>
</div>

{% endblock content_content %}
