{% extends "voidcoin_base.html" %}
{% block title %}Manage your account{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Manage your account</h3>
    </div>
</div>

{% include 'siteuser/account_user_details.html' %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h5 class='float-left'>Accounts</h5>
    </div>
</div>

<div class="container">
    <div class="row text-center text-lg-left">
        {% for each in siteuser.blockaccount_set.all %}
            <a class="btn btn-sm btn-primary icon-buttons" href="" title="View keys" data-toggle="modal" data-target="#keyViewModal{{ each.pk }}">
            {{ each.identify }} Balance {{ each.balance }}</a>
            {% include 'siteuser/key_view_modal.html' %}
        {% endfor %}
    </div>
</div>

{% endblock content_content %}
