{% extends "blockchain_base.html" %}
{% block title %}Manage your account{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Manage your account</h3>
    </div>
</div>

{% include 'siteuser/account_user_details.html' %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h5 class='float-left'>My groups</h5>
    </div>
</div>

<div class="container song-about">
    <div class="row">
        <div class="col-sm-12">
            <p>Groups here</p>
        </div>
    </div>
</div>

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h5 class='float-left'>Social</h5>
    </div>
</div>

<div class="container">
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 love-bird-detail">
            <h4>Facebook</h4>
             {% if facebook_login %}
                <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>

                {% if can_disconnect %}
                 <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                    {% csrf_token %}
                    <button type="submit">Disconnect</button>
                 </form>
                {% else %}
                    <button type="button" disabled>Disconnect</button>
                    <p class="text-warning">Set a <a href="{% url 'siteuser:social_password' %}">password</a> if you wish to disconnect this account</p>
                {% endif %}
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'social:begin' 'facebook' %}">Connect</a>
            {% endif %}
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 love-bird-detail">
            <h4>Google</h4>
             {% if google_login %}

                <p>Connected as <a href="https://plus.google.com/u/0/+{{ google_login.uid }}/" target="_blank">{{ google_login.uid }}</a></p>

                {% if can_disconnect %}
                 <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                    {% csrf_token %}
                    <button type="submit">Disconnect</button>
                 </form>
                {% else %}
                    <button type="button" disabled>Disconnect</button>
                    <p class="warning">Set a <a href="{% url 'siteuser:social_password' %}">password</a> if you wish to disconnect this account</p>
                {% endif %}
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Connect</a>
            {% endif %}
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 love-bird-detail">
            <h4>Twitter</h4>
             {% if twitter_login %}
                <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">{{ twitter_login.extra_data.access_token.screen_name }}</a></p>

                {% if can_disconnect %}
                 <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
                    {% csrf_token %}
                    <button type="submit">Disconnect</button>
                 </form>
                {% else %}
                    <button type="button" disabled>Disconnect</button>
                    <p class="text-warning">Set a <a href="{% url 'siteuser:social_password' %}">password</a> if you wish to disconnect this account</p>
                {% endif %}
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'social:begin' 'twitter' %}">Connect</a>
            {% endif %}
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 col-sm-6 py-2 my-2 love-bird-detail">
            <h4>Yahoo</h4>
             {% if yahoo_login %}
                <p>Connected as <a href="https://yahoo.com/{{ yahoo_login.extra_data.login }}/" target="_blank">{{ yahoo_login.extra_data.login }}</a></p>

                {% if can_disconnect %}
                 <form method="post" action="{% url 'social:disconnect' 'yahoo-oauth2' %}">
                    {% csrf_token %}
                    <button type="submit">Disconnect</button>
                 </form>
                {% else %}
                    <button type="button" disabled>Disconnect</button>
                    <p class="text-warning">Set a <a href="{% url 'siteuser:social_password' %}">password</a> if you wish to disconnect this account</p>
                {% endif %}
            {% else %}
                <a class="btn btn-sm btn-primary" href="{% url 'social:begin' 'yahoo-oauth2' %}">Connect</a>
            {% endif %}
        </div>
    </div>
</div>


<div class='container'>
    <div class='row'>
        <span class="float-right"><a class="btn btn-sm" href="{% url 'siteuser:delete_account' %}" title="Delete this account"><i class="fas fa-trash"></i></a></span>
        <span class="float-right"><a class="btn btn-sm" href="{% url 'siteuser:edit_profile' %}" title="Edit profile"><i class="fas fa-edit"></i></a></span>
        <span class="float-right"><a class="btn btn-sm" href="{% url 'siteuser:library' siteuser.pk siteuser.slug %}" title="My library"><i class="fas fa-book"></i></a></span>
    </div>
</div>
{% endblock content_content %}
