{% extends "voidcoin_base.html" %}
{% block title %}Delete account{% endblock %}

{% block body %}

    <h1 class='text-center'><a href="/" title='Return to homepage' style='text-decoration: none'>VoidCoin</a></h1>
    <hr>

    <div class="container register-forms">
        <h2 class='text-center'>Deactivate account</h2>
        <p class="text-danger">You're about to deactivate your account.</p>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <p>{{ form.password }}</p>
                <p>{{ form.password.errors }}</p>
            <button class="btn btn-primary btn-sm register-btn btn-danger" type="submit" value="Delete">Deactivate my account</button>
        </form>
    </div>
{% endblock body %}
