{% extends "blockchain_base.html" %}
{% block title %}Activate {{ screen_name }}{% endblock %}
{% block introduction %}{% endblock introduction %}

{% block body %}
<h1 class='text-center'><a href="/" title='Return to homepage' style='text-decoration: none'>Blockchain</a></h1>
<hr>

<div class="container text-center">

    <h2>Profile activation successful</h2>

    {% if active %}
        <p>Thank you but your profile is already active.<br>
        Please <a href="{% url 'siteuser:login' %}">login</a> to continue</p>
    {% else %}
        <p class="card-title">Thank you for activating your profile.<br>
            Please <a href="{% url 'siteuser:login' %}">login</a> to continue</p>
    {% endif %}
</div>
{% endblock body %}
