{% extends "voidcoin_base.html" %}
{% block title %}Wallets{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}

<h1>Wallets</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Wallets</li>
    </ol>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Wallets</caption>
            <tr>
                <th>S/No.</th>
                <th>Alias</th>
                <th>Owner</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ wallet.alias }}</td>
                <td>{{ wallet.owner }}</td>
                <td>{{ wallet.public_key }}</td>
            </tr>
        {% empty %}
            <p>No wallet</p>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content_content %}
