<footer>
    <div class="large-print text-left d-none d-sm-block">
        <div class="container">
            <div class="row">
                <p>Footer</p>
            </div>
        </div>
    </div>

    <div class="fine-prints text-center">
        <div class="container">
                <p><a href="/"><i class="fa fa-home" title="Site home"></i>Home</a>
                    &#124;
                    <a target="_blank" href="https://immensity.github.io/" title="Contact the developer">Contact blog</a>
                </p>
                <p class="copyright">&#169; Copyright 2018 choralcentral.net <a href="#"><i class='fas fa-arrow-up'></i></a></p>
        </div>
    </div>
</footer>