<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>VoidCoin | {% block title %}Best coin money cannot buy{% endblock title %}</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">

		<!-- Algolia search javascript -->
		<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

		<script src="//cdn.jsdelivr.net/g/algoliasearch,algoliasearch.helper"></script>

		<!-- font awesome for icons -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

		<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>

		<!--midijs for playing midi-->
		<!-- <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script> -->

		{% comment %}[if lt IE 9] {% endcomment %}
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		{% comment %} [endif] {% endcomment %}

		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
		<link rel="stylesheet" href="{% static 'css/voidcoin.css' %}">
		<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/voidcoin.js' %}"></script>
		{{ form.media }}

		<!--google recaptcha-->
		<script src='https://www.google.com/recaptcha/api.js'></script>

	</head>

	{% block body %}
	<body>
		{% block navigation %}
		<nav class="navbar fixed-top navbar-expand-lg">
			<a class="navbar-brand" href="{% url 'blockchain:index' %}">
				<h3 style="color:blanchedalmond" title="https://www.voidcoin.net/">VoidCoin</h3>
			</a>

			<button type="button" class="navbar-toggler my-toggler" data-toggle="collapse" data-target=".navcontent">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse navcontent">
				<ul class="nav navbar-nav lefthand-navigation">
					<li class="nav-item"><a class="nav-link" href="/" title="Home">Home</a></li>
					<li class="nav-item dropdown">
					    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Wallet</a>
						<div class="dropdown-menu">
						    <a class="dropdown-item" href="{% url 'blockchain:generate_wallet' %}">New</a>
						</div>
					</li>
					<li class="nav-item dropdown">
					    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transactions</a>
						<div class="dropdown-menu">
						    <a class="dropdown-item" href="{% url 'blockchain:transactions_index' %}">Index</a>
						    <a class="dropdown-item" href="{% url 'blockchain:transactions_destined_for_next_block' %}">Next block</a>
						    <a class="dropdown-item" href="{% url 'blockchain:transaction_anon' %}">Initiate (raw json)</a>
						    {% if user.is_authenticated %}
						        <a class="dropdown-item" href="{% url 'blockchain:transaction_auth_user' %}">Initiate with account</a>
						    {% endif %}
						</div>
					</li>
					<li class="nav-item dropdown">
					    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nodes</a>
						<div class="dropdown-menu">
						    <a class="dropdown-item" href="{% url 'blockchain:node_index' %}">Index</a>
						    <a class="dropdown-item" href="{% url 'blockchain:register_nodes' %}">Configure</a>
						</div>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto righthand-navigation">
					{% if user.is_authenticated %}
						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
						    <div class="dropdown-menu">
						        <a class="dropdown-item" href="{% url 'siteuser:account_management' %}">My Account</a>
						        <div class="dropdown-divider"></div>
						        <a class="dropdown-item" href="{% url 'siteuser:edit_profile' %}">Edit Profile</a>
						        <a class="dropdown-item" href="{% url 'blockchain:edit_identify' %}">Edit Identify</a>
						        <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href="{% url 'siteuser:password_change' %}">Change Password</a>
							    <a class="dropdown-item" href="{% url 'siteuser:password_reset' %}">Reset Password</a>
							    <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href="{% url 'siteuser:logout' %}">Logout</a>
							</div>
						</li>

						{% if user.is_admin %}
						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/admin/">Django admin</a>
							</div>
						</li>
						{% endif %}
					{% else %}
						<li class="nav-item login-logout"><a class="btn btn-info btn-sm upload-button" href="{% url 'siteuser:login' %}">Log In</a></li>
						<li class="nav-item login-logout"><a class="btn btn-primary btn-sm upload-button" href="{% url 'siteuser:new' %}">Sign Up</a></li>
					{% endif %}

				</ul>
			</div>
		</nav>
		{% endblock navigation %}

		<div class="container-fluid">
		    {% include 'messages.html' %}
			<div class="row">
				<div class="col-sm-3 leftsidebar">
					{% block left_sidebar %}
					{% endblock left_sidebar %}
				</div>

				<div class="col-sm-6 centerspread" role='main'>

					{% block content_content %}
					    content-block
					{% endblock content_content %}

					{% if is_paginated %}
						{% include "pure_pagination.html" %}
					{% endif %}
				</div>

				<div class="col-sm-3 rightsidebar">
					{% block right_sidebar %}
					{% endblock right_sidebar %}
				</div>
			</div>
		</div>

		{% block footer %}
			{% include "footer.html" %}
		{% endblock footer %}

		{% endblock body %}

		<script type="text/javascript" >
			// add attributes to form input elements
			$(document).ready(function(){
				$("#id_username").attr('placeholder', '{{ form.username.label }}');
				$("#id_username").attr('class', 'form-control');

				$("#id_password").attr('placeholder', '{{ form.password.label }}');
				$("#id_password").attr('class', 'form-control');

				$("#id_email").attr('class', 'form-control');
				$("#id_email").attr('placeholder', '{{ form.email.label }}');

				$("#id_old_password").attr('class', 'form-control');
				$("#id_old_password").attr('placeholder', '{{ form.old_password.label }}');
				$("#id_new_password1").attr('class', 'form-control');
				$("#id_new_password1").attr('placeholder', '{{ form.new_password1.label }}');
				$("#id_new_password2").attr('class', 'form-control');
				$("#id_new_password2").attr('placeholder', '{{ form.new_password2.label }}');

				$("#id_password1").attr('class', 'form-control');
				// $("#id_password1").attr('placeholder', '{{ form.password1.label }}');
				$("#id_password2").attr('class', 'form-control');
				// $("#id_password2").attr('placeholder', '{{ form.password2.label }}');
			});
		</script>

		<script>
			// Initialize tooltip component
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
            // Initialize popover component
			$(function () {
				$('[data-toggle="popover"]').popover()
			})
		</script>
	</body>
</html>
