{% extends "voidcoin_base.html" %}
{% block title %}Block number {{ block_number }}{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load chain_templatetags %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Block number {{ block_number }}</h3>
    </div>
</div>


{% for key, value in block_items.items %}

    {% if key == 'transactions' %}
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <caption>Transactions in block number {{ block_number }}</caption>
                    <tr>
                        <th>S/No.</th>
                        <th>Amount</th>
                        <th>Sender</th>
                        <th>Recipient</th>
                    </tr>
                </thead>
                <tbody>

                {% for transaction in value %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td title="{{ transaction.sender_address }}">{{ transaction.sender_address|truncatechars:10 }}</td>
                        <td title="{{ transaction.recipient_address }}">{{ transaction.recipient_address|truncatechars:10 }}</td>
                    </tr>
                {% empty %}
                    <p>No transaction in block</p>
                {% endfor %}
                <tr style="background:#a4a4ea">
                    <td>Sum</td>
                    <td>{{ value|sum_amounts }}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{{ key }}: {{ value }}</p>
    {% endif %}
{% endfor %}

{% endblock content_content %}
