{% extends "voidcoin_base.html" %}
{% block title %}Home{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}
<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Home</h3>
    </div>
</div>

<h4>Transactions to be included in next block</h4>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <caption>Next block transactions</caption>
            <tr>
                <th>S/No.</th>
                <th>Amount</th>
                <th>Sender</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in pending_transactions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ transaction.amount }}</td>
                <td title="{{ transaction.sender_address }}">{{ transaction.sender_address|truncatechars:10 }}</td>
                <td title="{{ transaction.recipient_address }}">{{ transaction.recipient_address|truncatechars:10 }}</td>
            </tr>
        {% empty %}
            <p>No pending transaction</p>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr>

<h4>Blocks on the chain</h4>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <caption>Blocks</caption>
            <tr>
                <th>Block number</th>
                <th>nonce</th>
                <th>Previous hash</th>
                <th>Timestamp</th>
                <th>Transactions</th>
            </tr>
        </thead>
        <tbody>
        {% for block in chain %}
            <tr>
                {% for key, value in block.items %}
                    {% if key == 'transactions' %}
                        <td title="{{ value }}">{{ value|truncatechars:10 }}</td>
                    {% elif key == 'block_number' %}
                        <td><a href="{% url 'blockchain:block_detail' value %}">{{ value }}</a></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
        {% empty %}
            <p>No blocks on the chain</p>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content_content %}
