{% extends "voidcoin_base.html" %}
{% block title %}Home{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}
<h1>VoidCoin</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
</nav>

<h2>Block constraints</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Block constraints</caption>
            <tr>
                <th>S/No.</th>
                <th>Constraint</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Coin base</td>
                <td>{{ coin_base }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Remaining</td>
                <td>{{ unassigned }}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mining reward</td>
                <td>{{ mining_reward }}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Mining difficulty</td>
                <td>{{ mining_difficulty }}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Mineable transaction length</td>
                <td>{{ mineable }}</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<h2>Transactions for next block</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Next block transactions</caption>
            <tr>
                <th>S/No.</th>
                <th>Amount</th>
                <th>Sender</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in pending_transactions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ transaction.amount }}</td>
                <td title="{{ transaction.sender_address }}">{{ transaction.sender_address|truncatechars:10 }}</td>
                <td title="{{ transaction.recipient_address }}">{{ transaction.recipient_address|truncatechars:10 }}</td>
            </tr>
        {% empty %}
            <p>No pending transaction</p>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr>

<h2>Blocks on the chain</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Blocks</caption>
            <tr>
                <th>Number</th>
                <th>nonce</th>
                <th>Previous hash</th>
                <th>Timestamp</th>
                <th>Transactions</th>
            </tr>
        </thead>
        <tbody>
        {% for block in chain %}
            <tr>
                {% for key, value in block.items %}
                    {% if key == 'transactions' %}
                        <td title="{{ value }}">{{ value|truncatechars:10 }}</td>
                    {% elif key == 'number' %}
                        <td><a href="{% url 'blockchain:block_detail' value %}">{{ value }}</a></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
        {% empty %}
            <p>No blocks on the chain</p>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content_content %}
