{% extends "voidcoin_base.html" %}
{% block title %}Resolve nodes{% endblock title %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}


<h1>Resolve nodes</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">Nodes</a></li>
        <li class="breadcrumb-item active">Resolve nodes</li>
    </ol>
</nav>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Nodes</caption>
            <tr>
                <th>S/No.</th>
                <th>Node</th>
            </tr>
        </thead>
        <tbody>
        {% for node in nodes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ node }}</td>
            </tr>
        {% empty %}
            <p>No nodes</p>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content_content %}
{% block footer %}{% endblock footer %}