{% extends "voidcoin_base.html" %}
{% block title %}Transactions{% endblock title %}
{% block introduction %}{% endblock introduction %}
{% load static %}
{% load chain_templatetags %}

{% block content_content %}

<div class='container siteuser-index-heading'>
    <div class='row'>
        <h3 class='float-left'>Transactions on the blockchain</h3>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <caption>Transactions on the blockchain</caption>
            <tr>
                <th>S/No.</th>
                <th>Amount</th>
                <th>Sender</th>
                <th>Recipient</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ transaction.amount }}</td>
                <td title="{{ transaction.sender_address }}">{{ transaction.sender_address|truncatechars:10 }}</td>
                <td title="{{ transaction.recipient_address }}">{{ transaction.recipient_address|truncatechars:10 }}</td>
            </tr>
        {% empty %}
            <p>No pending transaction</p>
        {% endfor %}
        <tr style="background:#a4a4ea">
            <td></td>
            <td>{{ transactions|sum_amounts }}</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock content_content %}
{% block footer %}{% endblock footer %}

