{% extends "voidcoin_base.html" %}
{% block title %}Validate and 'block' transaction{% endblock %}
{% block introduction %}{% endblock introduction %}

{% block content_content %}
<div class="container upload-forms">
    <h2>Validate and 'block' transaction</h2>
    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm float-right" type="submit" value="Send">Send</button>
    </form>
</div>
{% endblock content_content %}
